body{
  font-family: 'Poppins';
  margin: 0px;
  padding: 0px ;
}
h1{
  font-size: 50px;
  color: white;
}
p{
  color: white;
}
.section1{
background-image: url('Bangladesh\ Flood\ .jpg');
background-repeat: no-repeat;
background-size: 100%;
padding: 150px;
text-align: center;
}
.donate{
  text-decoration: none;
  background-image: linear-gradient(red,deeppink);
  padding: 15px 30px;
  font-weight: 700;
  color: white;
  border-radius: 7px;
}
.section2{
  text-align: center;
}

.button1{
  height: 50px;
  background-color: rgb(241, 241, 236);
  border-radius: 8px;
  text-decoration: none;
  border: none;
}

.button2{
  height: 50px;
  background-color: rgb(228, 216, 216);
  color: black;
  border: 2px solid red;
  border-radius: 8px;
}
.button3{
  height: 50px;
  background-color: rgb(241, 241, 236);
  border-radius: 8px;
  text-decoration: none;
  border: none;
}
.button4{
  height: 50px;
  background-color: rgb(241, 241, 236);
  border-radius: 8px;
  text-decoration: none;
  border: none;
}
.button5{
  height: 50px;
  background-color: rgb(241, 241, 236);
  border-radius: 8px;
  text-decoration: none;
  border: none;
}
