body{
  font-family: 'Poppins';
  margin: 0px;
  padding: 0px ;
}
h1{
  font-size: 50px;
  color: white;
}
p{
  color: white;
}
.section1{
background-image: url('Bangladesh\ Flood\ .jpg');
background-repeat: no-repeat;
background-size: 100%;
padding: 150px;
text-align: center;
}
.donate{
  text-decoration: none;
  background-image: linear-gradient(red,deeppink);
  padding: 15px 30px;
  font-weight: 700;
  color: white;
  border-radius: 7px;
}
